.dashboard-container {
    padding: 2rem;
    font-family: Arial, sans-serif;
  }
  
  .cards-container {
    display: flex;
    
    gap: 42px;
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    min-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 20vh;
    margin-top: 3px;
  }
  
  .card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: green;
  }
  
  .card p, .card li {
    font-size: 1rem;
    color: #555;
  }
  