.auth-container {
    max-width: 400px;
    margin: auto;
    margin-top: 20%;
    padding: 20px;
    text-align: center;
    background: #f8f8f8;
    border-radius: 8px;
}

.auth-container h2 {
    margin-bottom: 10px;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.auth-container button:hover {
    background: #218838;
}

.message {
    color: red;
    margin-bottom: 10px;
}
p{
    margin-top: 5%;
}

/*-------------------------Media Screens--------------------------------*/
@media screen and (max-width: 480px) {
    .auth-container{
        margin-top: 10em;
        flex-wrap: wrap;

    }
   
}

