.buyer-requests-container {
    
    margin: auto;
    margin-top: 4%;
    padding: 20px;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 0.6fr));
    
}

.requests-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.request-card {
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    padding: 15px;
    margin: 10px;
    width: 260px;
    text-align: left;
}

.request-card h3 {
    color: brown;
}
.request-card p{
    line-height: 1;
}
.request-card button{
    background-color: brown;
    color: white;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    height: 2em;
    

}

.bid-modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bid-modal form {
    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}
.bid-modal button{
    background-color: brown;
    color: white;
    justify-content: center;
    border-radius: 5px;
    width: 50%;
    margin-left: 15%;
    height: 2em;
   
}
