/* BuyerDashboard.css */

/* General Layout */
.dashboard-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  
  .dashboard-title {
    margin-top: 25%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .sidebar-menu li .icon {
    margin-right: 10px;
  }
  
  .sidebar-menu li:hover,
  .sidebar-menu .active {
    background-color: #34495e;
    height: 100%;
  }
  
  /* Main Dashboard */
  .main-dashboard {
    flex-grow: 1;
    padding: 20px;
    background-color: #ecf0f1;
    height: fit-content;
  }
  
  .dashboard-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  