.profile-container {
    max-width: 100%;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .profile-container h2 {
    margin-bottom: 20px;
    color: #2e7d32;
  }
  .profile-container .image{
    border: #2e7d32;
  }
  
  .profile-container img {
    border-radius: 100%;
    margin-bottom: 20px;
    border: 3px solid #4caf50;
  }
  
  .profile-container p {
    font-size: 16px;
    margin: 8px 0;
    color: #444;
  }
  
  .profile-container strong {
    color: #333;
  }
  
  .profile-container button {
    margin: 10px 8px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .profile-container button:hover {
    background-color: #388e3c;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .profile-form label {
    margin: 12px 0 5px;
    font-weight: bold;
    color: #333;
  }
  
  .profile-form input,
  .profile-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .profile-form button {
    align-self: center;
    margin-top: 20px;
  }
  